worlds/blasphemous/region_data.py linguist-generated=true
worlds/yachtdice/YachtWeights.py linguist-generated=true

# Merge strategies: keep our version for these files
.gitignore merge=ours
README.md merge=ours
